03-practices/session-03/templates/checkpoints/flow1_nhac_viec_sheets.json
{
  "name": "5D- Flow 1: Nhắc việc tồn đọng mỗi sáng (Google Sheets)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "8a93f3c7-c714-4328-acb1-d083f4ae73d6",
      "name": "Lịch 8h sáng (Schedule)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -784,
        80
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11b57nelGdCgLxKJM1Jd8i-6V2l4TY8IR1fd2Wv74Xyk",
          "mode": "list",
          "cachedResultName": "ver2_Flow1_NhacViec",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11b57nelGdCgLxKJM1Jd8i-6V2l4TY8IR1fd2Wv74Xyk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2065219056,
          "mode": "list",
          "cachedResultName": "CongViec",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11b57nelGdCgLxKJM1Jd8i-6V2l4TY8IR1fd2Wv74Xyk/edit#gid=2065219056"
        },
        "options": {}
      },
      "id": "bd9cd20c-08be-4c75-b634-c5bda48b891d",
      "name": "Đọc danh sách công việc",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -528,
        80
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8nZVFVwQRFWIcZdK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a288218f-949c-4672-bf71-a7b6e12e0d4c",
              "leftValue": "={{ $json['Trạng thái'] }}",
              "rightValue": "Hoàn thành",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7579a2fb-19a9-4a58-85cd-42cf2107c4cd",
      "name": "Lọc việc chưa hoàn thành",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -256,
        80
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "82f33b2d-6f66-4941-b27b-3c6422d45766",
              "name": "Nội dung nhắc",
              "value": "={{ \"Việc '\" + $json['Tên công việc'] + \"' (phụ trách: \" + $json['Người phụ trách'] + \") chưa hoàn thành. Hạn chót: \" + $json['Hạn chót'] }}",
              "type": "string"
            },
            {
              "id": "348ffd57-e288-408e-af9f-045d6d6696cc",
              "name": "Người phụ trách",
              "value": "={{ $json['Người phụ trách'] }}",
              "type": "string"
            },
            {
              "id": "74d5f762-6c0f-477d-8fe0-23c1ac082691",
              "name": "Ngày nhắc",
              "value": "={{ $now.format('dd/MM/yyyy') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "fcd5381d-9489-4f5f-a642-ff2b6e1cf640",
      "name": "Soạn nội dung nhắc (Edit Fields)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "11b57nelGdCgLxKJM1Jd8i-6V2l4TY8IR1fd2Wv74Xyk",
          "mode": "list",
          "cachedResultName": "ver2_Flow1_NhacViec",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11b57nelGdCgLxKJM1Jd8i-6V2l4TY8IR1fd2Wv74Xyk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2007978025,
          "mode": "list",
          "cachedResultName": "NhacViec",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11b57nelGdCgLxKJM1Jd8i-6V2l4TY8IR1fd2Wv74Xyk/edit#gid=2007978025"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nội dung nhắc": "={{ $json['Nội dung nhắc'] }}",
            "Người phụ trách": "={{ $json['Người phụ trách'] }}",
            "Ngày nhắc": "={{ $json['Ngày nhắc'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nội dung nhắc",
              "displayName": "Nội dung nhắc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Người phụ trách",
              "displayName": "Người phụ trách",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ngày nhắc",
              "displayName": "Ngày nhắc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "1efa7804-3fc7-4787-b3c8-16dc364edba4",
      "name": "Ghi vào bảng Nhắc việc",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        272,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8nZVFVwQRFWIcZdK",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Lịch 8h sáng (Schedule)": {
      "main": [
        [
          {
            "node": "Đọc danh sách công việc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Đọc danh sách công việc": {
      "main": [
        [
          {
            "node": "Lọc việc chưa hoàn thành",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lọc việc chưa hoàn thành": {
      "main": [
        [
          {
            "node": "Soạn nội dung nhắc (Edit Fields)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Soạn nội dung nhắc (Edit Fields)": {
      "main": [
        [
          {
            "node": "Ghi vào bảng Nhắc việc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "09812af0-a2b4-45a3-8c1f-f9efae3f3a14",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "feb05a57fcb423f75b42cae3d02a90a43f0afa9d09bec80a128bb5a0e6b742df"
  },
  "nodeGroups": [],
  "id": "IDiVwDS4gBGirwH3",
  "tags": []
}