03-practices/session-03/templates/checkpoints/flow3b_gui_email.json
{
  "name": "Flow 3b: Gửi email sau khi duyệt (Gmail)",
  "nodes": [
    {
      "parameters": {},
      "id": "bacc3690-757d-4798-ae82-0491561d0cc5",
      "name": "Bấm gửi (sau khi duyệt)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -768,
        80
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1aG2LwMm2bgJ4NMvRCEuAY__kJgGnH9xufZiJZUvmog4",
          "mode": "list",
          "cachedResultName": "ggsheet3_soan_thao.xlsx",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aG2LwMm2bgJ4NMvRCEuAY__kJgGnH9xufZiJZUvmog4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1437319754,
          "mode": "list",
          "cachedResultName": "SoanThao",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aG2LwMm2bgJ4NMvRCEuAY__kJgGnH9xufZiJZUvmog4/edit#gid=1437319754"
        },
        "options": {}
      },
      "id": "cc4b923e-5083-4e28-8a8c-5ab997787b19",
      "name": "Đọc dòng đã duyệt",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -528,
        80
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8nZVFVwQRFWIcZdK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2913d6b9-ca26-452a-8be6-9e5a7f2d7646",
              "leftValue": "={{ $json['Duyệt gửi'] }}",
              "rightValue": "Gửi",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "683d4254-ae93-4e05-bb31-2c908dacaa13",
              "leftValue": "={{ $json['Trạng thái'] }}",
              "rightValue": "Đã gửi",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ef4f2208-26a1-4fa8-ab2b-883a353f0b49",
      "name": "Chỉ gửi dòng đã duyệt",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -256,
        80
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json['Email người nhận'] }}",
        "subject": "={{ $json['Tiêu đề'] }}",
        "emailType": "text",
        "message": "={{ $json['Nội dung hoàn chỉnh'] }}",
        "options": {}
      },
      "id": "292fafb0-3b95-4728-8bd0-a943149422a1",
      "name": "Gửi email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "webhookId": "ad874271-db24-40a4-9a71-19d21424b669",
      "credentials": {
        "gmailOAuth2": {
          "id": "oqxATtBmr7iFG3zg",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1aG2LwMm2bgJ4NMvRCEuAY__kJgGnH9xufZiJZUvmog4",
          "mode": "list",
          "cachedResultName": "ggsheet3_soan_thao.xlsx",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aG2LwMm2bgJ4NMvRCEuAY__kJgGnH9xufZiJZUvmog4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1437319754,
          "mode": "list",
          "cachedResultName": "SoanThao",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aG2LwMm2bgJ4NMvRCEuAY__kJgGnH9xufZiJZUvmog4/edit#gid=1437319754"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "Trạng thái"
          ],
          "schema": [
            {
              "id": "Loại văn bản",
              "displayName": "Loại văn bản",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Người nhận",
              "displayName": "Người nhận",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email người nhận",
              "displayName": "Email người nhận",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ý chính",
              "displayName": "Ý chính",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Giọng văn",
              "displayName": "Giọng văn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tiêu đề",
              "displayName": "Tiêu đề",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nội dung hoàn chỉnh",
              "displayName": "Nội dung hoàn chỉnh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trạng thái",
              "displayName": "Trạng thái",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Duyệt gửi",
              "displayName": "Duyệt gửi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ngày gửi",
              "displayName": "Ngày gửi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "threadId",
              "displayName": "threadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "labelIds",
              "displayName": "labelIds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "97b65415-49aa-4bea-9b77-2f291fee1f5b",
      "name": "Đánh dấu đã gửi",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        272,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8nZVFVwQRFWIcZdK",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Bấm gửi (sau khi duyệt)": {
      "main": [
        [
          {
            "node": "Đọc dòng đã duyệt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Đọc dòng đã duyệt": {
      "main": [
        [
          {
            "node": "Chỉ gửi dòng đã duyệt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chỉ gửi dòng đã duyệt": {
      "main": [
        [
          {
            "node": "Gửi email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gửi email": {
      "main": [
        [
          {
            "node": "Đánh dấu đã gửi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8c19982e-6a49-46ef-965a-6977f10d4aeb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "feb05a57fcb423f75b42cae3d02a90a43f0afa9d09bec80a128bb5a0e6b742df"
  },
  "nodeGroups": [],
  "id": "RFHfqdmR69V8GBWx",
  "tags": []
}