03-practices/session-03/templates/checkpoints/flow2_phan_loai.json
{
  "name": "Flow 2: Trợ lý AI phân loại phản ánh (Gemini)",
  "nodes": [
    {
      "parameters": {},
      "id": "e0a404ff-3af7-4890-88d5-7f387221ee6b",
      "name": "Bấm chạy thử",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1280,
        160
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1aG2LwMm2bgJ4NMvRCEuAY__kJgGnH9xufZiJZUvmog4",
          "mode": "list",
          "cachedResultName": "ggsheet2_phan_anh.xlsx",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aG2LwMm2bgJ4NMvRCEuAY__kJgGnH9xufZiJZUvmog4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1437319754,
          "mode": "list",
          "cachedResultName": "PhanAnh",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aG2LwMm2bgJ4NMvRCEuAY__kJgGnH9xufZiJZUvmog4/edit#gid=1437319754"
        },
        "options": {}
      },
      "id": "5271c9ce-384c-4d03-b3cd-fb79d3053ddb",
      "name": "Đọc PhanAnh",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1040,
        160
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8nZVFVwQRFWIcZdK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "8edd3b6f-51b0-4e07-b608-350cf11c44d4",
              "leftValue": "={{ $json['Phân loại'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "b2c14548-d3b7-4ce5-a25b-99cf341521b5",
      "name": "Chưa phân loại",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -784,
        160
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "Bạn là trợ lý AI phân loại phản ánh nội bộ của Viettel Network. Hãy phân tích phản ánh của nhân viên và phân loại vào đúng một trong các nhóm sau:\n- Hạ tầng mạng\n- Nhân sự\n- Hành chính\n- CNTT\n- Khác\n\nĐồng thời đánh giá mức độ khẩn cấp (Thấp, Trung bình, Cao) và tóm tắt phản ánh trong 1 câu ngắn gọn dưới 20 từ.\n\nTrả về kết quả dưới dạng JSON có cấu trúc chính xác với 3 khóa:\n{\n  \"category\": \"nhóm phân loại\",\n  \"priority\": \"mức độ\",\n  \"summary\": \"tóm tắt ngắn gọn\"\n}"
            },
            {
              "content": "=Nội dung phản ánh: {{ $json['Nội dung phản ánh'] }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "13cae3ed-22e4-4be7-b108-948b06a2541e",
      "name": "Gemini phân tích",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -560,
        -64
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "credentials": {
        "googlePalmApi": {
          "id": "XjSXx9d0VAYZdaBO",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6bfa731d-45ca-4fb5-b2ca-0d1c7954b86e",
              "name": "row_number",
              "value": "={{ $('Đọc PhanAnh').item.json.row_number }}",
              "type": "number"
            },
            {
              "id": "174076c3-9711-4b04-9fb7-bc386973c6f5",
              "name": "Phân loại",
              "value": "={{ JSON.parse($json.content.parts[0].text).category }}",
              "type": "string"
            },
            {
              "id": "1aaff449-f33c-4672-ba92-259bceea4864",
              "name": "Mức độ",
              "value": "={{ JSON.parse($json.content.parts[0].text).priority }}",
              "type": "string"
            },
            {
              "id": "e1c02784-f575-409c-a55d-c73ff6f3e942",
              "name": "Tóm tắt",
              "value": "={{ JSON.parse($json.content.parts[0].text).summary }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "63d02795-ec0f-4785-99b9-df0af167d4de",
      "name": "Tách kết quả AI (Edit Fields)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -256,
        80
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1aG2LwMm2bgJ4NMvRCEuAY__kJgGnH9xufZiJZUvmog4",
          "mode": "list",
          "cachedResultName": "ggsheet2_phan_anh.xlsx",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aG2LwMm2bgJ4NMvRCEuAY__kJgGnH9xufZiJZUvmog4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1437319754,
          "mode": "list",
          "cachedResultName": "PhanAnh",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aG2LwMm2bgJ4NMvRCEuAY__kJgGnH9xufZiJZUvmog4/edit#gid=1437319754"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "Phân loại": "={{ $json['Phân loại'] }}",
            "Mức độ": "={{ $json['Mức độ'] }}",
            "Tóm tắt": "={{ $json['Tóm tắt'] }}",
            "row_number": 0
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Nội dung phản ánh",
              "displayName": "Nội dung phản ánh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Phân loại",
              "displayName": "Phân loại",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mức độ",
              "displayName": "Mức độ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tóm tắt",
              "displayName": "Tóm tắt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a33ab7fb-3e1d-48db-8d9c-66aa427c14dd",
      "name": "Ghi kết quả vào Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        0,
        160
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8nZVFVwQRFWIcZdK",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Bấm chạy thử": {
      "main": [
        [
          {
            "node": "Đọc PhanAnh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Đọc PhanAnh": {
      "main": [
        [
          {
            "node": "Chưa phân loại",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chưa phân loại": {
      "main": [
        [
          {
            "node": "Gemini phân tích",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini phân tích": {
      "main": [
        [
          {
            "node": "Tách kết quả AI (Edit Fields)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tách kết quả AI (Edit Fields)": {
      "main": [
        [
          {
            "node": "Ghi kết quả vào Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5134f527-c23e-4e6b-8813-2e6c9dcd834f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "feb05a57fcb423f75b42cae3d02a90a43f0afa9d09bec80a128bb5a0e6b742df"
  },
  "nodeGroups": [],
  "id": "DzTVKsvUgFNJdLHK",
  "tags": []
}
